{% extends 'course/index.html' %}
{% load staticfiles %}
{% block course_block %}

<script src ="{% static "js/dialog.js" %}"></script>
<div class="panel panel-default">
      <div class="panel-heading"><h2 class="text-center">Announcements<h2></div>
      <div class="panel-body">
		{% for announce in announcements %}
      	<div class="announcent_heading text-center">

      	<h3>Announcement</h3>
      	<hr>
      	</div>
      	<div class="body">
      	<p> {% autoescape off %}{{ announce }}{% endautoescape %}</p>
      	</div>
      	{% endfor %}
      </div>
</div>
{% if Student %}
<script type="text/javascript">
</script>
<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody"></div>
    <div id="dialogboxfoot"></div>
  </div>
</div>
<button class="btn btn-primary" onclick="Prompt.render('Enter Token Id:','changeText')">Register</button>
<br/>
<br/>
{% endif %}

{% if Ta %}
<script type="text/javascript">
</script>
<div id="dialogoverlay"></div>
<div id="dialogbox">
  <div>
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody"></div>
    <div id="dialogboxfoot"></div>
  </div>
</div>
<button class="btn btn-primary" onclick="Prompt.render('Enter Token Id:','changeText')">Register</button>
<br/>
<br/>
{% endif %}



{% if Instructor %}
	<p>Token for student : <pre>{{ tokens.token_student }}</pre></p>
	<p>Token for TA : <pre>{{ tokens.token_ta }}</pre></p>
	<script src ="{% static "js/tinymce/tinymce.min.js" %}"></script>
	<script type="text/javascript">
	tinymce.init({
    selector: "textarea",
    theme: "modern",
    external_filemanager_path:"{% static "plugins/responsivefilemanager/" %}",
    external_plugins: { "filemanager" : "{% static "plugins/responsivefilemanager/plugin.min.js" %}"},
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",        
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "template paste textcolor colorpicker textpattern imagetools"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: " print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
	});
	</script>

<form method="post" action="{{ link }}">{% csrf_token %}
    <textarea name="content" id="content" style="width:100%"></textarea>
    <input type="submit" Value="Submit">
</form>
{% endif %}
{% endblock %}