{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block custom_css %}<link rel="stylesheet" href="{% static "css/login.css" %}">
<link rel="stylesheet" href="{% static "css/dialog.css" %}">{% endblock %}

{% block body_block %}


<!--navbar starts here -->
  
  <nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
     
      <a class="navbar-brand">{{ course_name }}<small></small></a>
      
    </div>
   <div class="collapse navbar-collapse" id="navbar">
      <form class="navbar-form navbar-left" role="search" action='/home/search/'>
        <div class="form-group has-feedback has-feedback-left">
          <input type="text" id="search" class="form-control" name="search" minlength="1" placeholder="Enter the Course">
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
      </form>
      <!-- the left side of the navigation -->
      {% if user_login %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
          <li class="text-center"><h4>Notifications</h4><hr></li>
         
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
           <li class="text-center"><h4>Messages</h4><hr></li>
          
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My profile</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout/">LogOut</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <a class="navbar-brand" href="/">Login<small></small></a>
        </ul>
      {% endif %}
      
      <!-- (uppar) the right side of the navigation -->

    </div>
  </div>
</nav>
</div>


<!--navbar ends here -->

<!--body starts here -->
<div class="container">
<div class="row">
<div class="col-md-3">
<div>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Info</li>
              <!-- <li class="active"><a href="#">Link</a></li> -->
              <li><a href="#">Quick Questions</a></li>
              <li><a href="/course/{{ course_name }}">Announcements</a></li>
              <li><a href="#">Course Book</a></li>

              <li class="nav-header">Lectures</li>
              <li><a href="/course/{{ course_name }}/upload/new/">Lecture Videos</a></li>
              <li><a href="/course/{{ course_name }}/upload/new/">Lecture Slides</a></li>
              
              <li class="nav-header">Exercises</li>
              <li><a href="/course/exams/">Exams</a></li>
              <li><a href="#">Assignments</a></li>

              <li class="nav-header">About the Course</li>
              <li><a href="#">Syllabus</a></li>
              <li><a href="#">Grading Scheme</a></li>

              <li class="nav-header">Community</li>
              <li><a href="/course/{{ course_name }}/forum">Discussion Forums</a></li>
              <li><a href="#">Grading Scheme</a></li>

              <li class="nav-header">Course Administration</li>
              <li><a href="#">Grades</a></li>
              
            </ul>
          </div><!--/.well -->

          
        

        </div><!--/span-->



</div>






<div class="col-md-8">


{% block course_block %}{% endblock %}
</div>
<div class="col-md-2">
</div>
</div>
</div>
<!-- body ends here -->

{% endblock %}
{% block custom_js %}<script src ="{% static "js/login.js" %}"></script>{% endblock %}

