{% extends 'user/index.html' %}

{% load staticfiles %}
{% block main_view %}
<div class="panel panel-default">
      <div class="panel-heading"><h2 class="text-center">Announcements<h2></div>
      <div class="panel-body">
      	<div class="announcent_heading">
      	<h3>Announcement 1</h3>
      	<hr>
      	</div>
      	<div class="body">
      	<p> THis is ihiashdha hsauas dajskhgdkas snadgasds adkasgdkhsa d dhsdjks dn sdkhasgdhksa dsd </p>
      	</div>
      </div>
</div>
{% endblock %}